Dear customer,<br>
<br>
- Your Account Number: $$Account Number$$<br>
- Your Account Name: $$Name$$<br>
- Allocation: $$Number of Allocation$$ shares<br>
<br>
Above is your PTHL final allocation. It will start trading at 11:10 AM on Thursday 09/05/24.<br>
Due to IPO fluctuation and risk, we will try to sale your positions about $4.40, if you do not have sale instruction for us by 10am tomorrow, as we discussed our trading strategy with you during you sent us open interest.<br>
<br>
Thanks your support always!