<div dir="ltr"><div class="adM">
</div><div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)"><div class="adM">
</div><b>Dear All,</b></div>
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
    This is final announcement for RITR. It approved by NASDAQ, will be priced on 8/20 or 8/21, and trading on 8/21 or 8/22. 

    You have final opportunity to participate in it. Please send your open interest by 4PM 8/15 so we can get final list to Velox for approval.</div>
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Reitar Logtech Holdings Limited&nbsp;( NASDAQ: RITR ).</b></div>
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>The Company has filed the latest amendment, and please see the below link.</b></div>
<table id="m_4772490965668211444x_x_x_table_0" style="text-align:left;text-indent:0px;width:890.687px;height:1581.42px;color:rgb(36,36,36);box-sizing:border-box;border-collapse:collapse;border-spacing:0px">
<tbody>
<tr>
<td colspan="2" style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;word-break:break-word;width:94.2187px;height:72px;box-sizing:border-box">
<div align="center" style="text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Latest F-1</b></div>
</td>
<td colspan="8" style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;word-break:break-word;width:796.354px;height:72px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<a href="https://www.sec.gov/Archives/edgar/data/1951229/000121390024049660/ea0200064-09.htm#T8" id="m_4772490965668211444OWA9430e5cc-6a80-26d5-f771-b111e6b74f98" style="margin:0px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.sec.gov/Archives/edgar/data/1951229/000121390024049660/ea0200064-09.htm%23T8&amp;source=gmail&amp;ust=1719517282517000&amp;usg=AOvVaw2lEecxmASpxdR3ZyQIBzfy">https://www.sec.gov/Archives/<wbr>edgar/data/1951229/<wbr>000121390024049660/ea0200064-<wbr>09.htm#T8</a></div>
</td>
</tr>
<tr>
<td colspan="7" style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:467.438px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Cathay Securities, Inc. is acting as the Sole Bookrunner</b></div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:280.333px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td colspan="3" style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;word-break:break-word;width:247.354px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Summary of Terms</b></div>
</td>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;word-break:break-word;width:75.1355px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:36.1665px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:58.8438px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:49.9376px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:35.2604px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:245.073px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:75.1355px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:36.1665px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:58.8438px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:49.9376px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:35.2604px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:245.073px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Issuer</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Reitar Logtech Holdings Limited</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Offering Size</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>$9,562,500 *</b></div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Securities Offered</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>2,125,000&nbsp;</b>Ordinary Shares</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Offering Price</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>US$4.00 and US$5.00 per ordinary share</b></div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Ticker symbol</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Nasdaq Capital Market under the symbol&nbsp;<b>“RITR”</b></div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Anticipated Pricing</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Week of JULY 15, 2024</b></div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:51.9999px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:51.9999px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Anticipated Trading</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:51.9999px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Week of JULY 15, 2024</b></div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:51.9999px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:52.0002px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:52.0002px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Underwriter</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:52.0002px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Cathay Securities, Inc.</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:52.0002px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:539.583px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:539.583px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Use of proceeds</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:539.583px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
We estimate that we will receive net proceeds from this offering of approximately US$7.0 million, or approximately US$8.3 million if the underwriters exercise the over-allotment option in full, assuming an initial public offering price of US$4.5 per share,
 and after deducting estimated underwriting discounts and commissions and estimated offering expenses payable by us. We will not receive any of the proceeds from the sale of Class A ordinary shares by the Resale Shareholder.&nbsp;</div>
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
We intend to use the proceeds from this offering&nbsp;as follows:</div>
<div style="text-align:left;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
(i)&nbsp;&nbsp;&nbsp;&nbsp; approximately 20% for expanding our resources and investing in state-of-the-art&nbsp;logistics facilities,</div>
<div style="text-align:left;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
(ii)&nbsp;&nbsp;&nbsp; approximately 10% for building our in-house&nbsp;research and development capabilities,</div>
<div style="text-align:left;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
(iii)&nbsp;&nbsp; approximately 10% for expanding the geographic coverage of our markets,</div>
<div style="text-align:left;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
(iv)&nbsp;&nbsp; approximately 30% for investing in logistics projects, and</div>
<div style="text-align:left;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
(v)&nbsp;&nbsp;&nbsp; the balance of the net proceeds for other working capital and general corporate purposes. See “Use of Proceeds” for more information.</div>
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:539.583px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:154.083px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="2" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:203.5px;height:154.083px;box-sizing:border-box">
<div align="center" style="text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Lock-up</b></div>
</td>
<td colspan="6" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:500.417px;height:154.083px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
We, our directors and executive officers and all other existing holders of 5.0% or more of our outstanding shares have agreed with the underwriters not to offer, issue, sell, encumber, transfer or otherwise dispose of any of the Class A ordinary shares for
 a period of six months after the completion of this offering without the consent of the representatives of the underwriters. See “Underwriting” for more information.</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:154.083px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;word-break:break-word;width:43.8542px;height:115.75px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="8" style="text-align:left;text-indent:0px;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;word-break:break-word;width:703.917px;height:115.75px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;line-height:17.25px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;&nbsp;*Initial public offering price is assumed as&nbsp;<b>US$4.50&nbsp;</b>per share, which is the midpoint&nbsp;of the range set forth on the cover page of the Public Offering Prospectus.</div>
</td>
<td style="text-align:left;text-indent:0px;padding:0in;word-break:break-word;width:142.802px;height:115.75px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:43.8542px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:50.3646px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:153.135px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:75.1355px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:36.1665px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:58.8438px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:49.9376px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:35.2604px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:245.073px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
<td style="text-align:left;text-indent:0px;word-break:break-word;width:142.802px;height:24.0001px;box-sizing:border-box">
<div style="text-align:left;text-indent:0px;margin:0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<br>
</div>
</td>
</tr>
</tbody>
</table>
<div style="text-align:left;text-indent:0px;margin:1em 0px;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</div>