<div data-olk-copy-source="MailCompose">Dear Customer,</div>
<div>&nbsp;</div>
<div>We plan to price TWG follow on tonight at $0.4/share. Please reply to this email for your open interest. We will do final allocation, then send subscription agreement to you for signature.&nbsp;<br /><br /></div>
<div>Please review following SEC F1 filing for more information:</div>
<div><a id="LPlnk556432" href="https://www.sec.gov/ix?doc=/Archives/edgar/data/0001978057/000121390024081238/ea0213063-f1_topwealth.htm">https://www.sec.gov/ix?doc=/Archives/edgar/data/0001978057/000121390024081238/ea0213063-f1_topwealth.htm</a></div>