<p class="x_MsoNormal"><a name="x__Hlk47346152"></a><span data-olk-copy-source="MessageBody">Dear Customer:</span></p>
<p class="x_MsoNormal">You have participated in our TWG follow on offer, or transferred your TWG shares to our company at Curvature&rsquo;s account.</p>
<p class="x_MsoNormal">Because the volatility and big fluctuation in TWG, we ordered ETNA trading system user ID to you already. You need login and place your orders yourself.</p>
<p class="x_MsoNormal"><strong>We will not accept email orders because we cannot guarantee you that we check email all the time on time. We charge 1.5% commission from your sale proceed. We cannot be responsible for your investment gain or loss.</strong></p>
<p class="x_MsoNormal">However, if you face any technical problem, please contact our support at 917-593-8838, or 689-689-9686.</p>
<p class="x_MsoNormal"><strong>Thanks!</strong></p>