<p>Dear customer,</p>
<p>Please refer to the following information of our offering of YAAS.&nbsp;</p>
<p><span style="color: #ff0000;"><strong>For your account $$Account Number$$, according to the current balance on your account, the maximum of your purchase is $$Shares$$ for $$Amount$$ USD</strong></span></p>
<table>
<tbody>
<tr>
<td>
<p><strong>&nbsp;</strong></p>
<p><strong>YOUXIN TECHNOLOGY LTD. (NASDAQ: YAAS)</strong></p>
<p><strong>&nbsp;***Initial Public Offering***</strong></p>
<p><strong>*Anticipated Pricing Monday 11/25 for Trading Tuesday 11/26, subject to regulatory approval*</strong></p>
<p><strong>*Please provide your indications in shares and number of accounts ASAP to&nbsp;<a href="mailto:syndicate@aegiscap.com*">syndicate@aegiscap.com*</a></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>*Selling Concession &ndash; 3.5%*</strong></p>
</td>
</tr>
<tr>
<td>
<p>&nbsp;</p>
<p>Aegis Capital Corp. is pleased to announce an Initial Public Offering of ~ $10,000,000 for Youxin Technology Ltd (Nasdaq: YAAS)<br /> <br /> <u>E-Red is Attached</u></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="168">
<p><strong>Offering Launch &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
<p><strong>Youxin Technology Ltd.</strong></p>
</td>
</tr>
<tr>
<td colspan="3">
<p>&nbsp;</p>
<p><strong>Summary of Terms</strong></p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Issuer</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>Youxin Technology Ltd.</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Proposed Listing /Symbol</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>NASDAQ / YAAS</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Type of Offering</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>Initial Public Offering</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Deal size</strong></p>
<p><strong>Over-Allotment Option</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>~ $10 Million</p>
<p>15%</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Structure</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>Common Only</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Offer Price</strong></p>
<p><strong>Anticipated Pricing Date</strong></p>
<p><strong>Anticipated Trading Date</strong></p>
<p><strong>Anticipated Settlement Date</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p>$4.50</p>
<p>Monday, November 25th, 2024</p>
<p>Tuesday, November 26th, 2024</p>
<p>T+1</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>&nbsp;</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Underwriting Syndicate</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>&nbsp;</strong></p>
<p><strong>Book Runner</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p>Aegis Capital Corp.</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>&nbsp;</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>Additional Information</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td width="168">
<p><strong>&nbsp;</strong></p>
</td>
<td width="5">
<p><strong>&nbsp;</strong></p>
</td>
<td>
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td width="168">
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Overview</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;</p>
</td>
<td width="5">
<p>&nbsp;</p>
</td>
<td>
<p>&nbsp;</p>
<p>We are a SaaS and PaaS provider committed to helping retail enterprises digitally transforming their businesses to develop, use and control business applications without the need to purchase complex IT infrastructure. We leverage the technologies used to develop our PaaS platform to standardize a highly customized customer relationship management, or CRM, services to our clients that seamlessly connect all levels of the retail chain from management teams to customers. Our products give our retail clients a comprehensive view of their business operations in real time on multiple interfaces, allowing them to make critical business decisions anytime and anywhere. .&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Brokerage and investment advisory services are offered through Aegis Capital Corporation, a member of&nbsp;<a href="https://www.finra.org/#/">FINRA</a>&nbsp;and&nbsp;<a href="https://www.sipc.org/">SIPC.</a></p>
<p>&nbsp;</p>
<p>Please use this link to view&nbsp;<a href="https://www.aegiscapcorp.com/disclosures/">Aegis Capital Corp Risk Disclosures and Form CRS (Customer Relationship Summary).</a></p>
<p>&nbsp;</p>