<div>Dear customer,</div>
<div>&nbsp;</div>
<div>AC Sunshine Securities is excited to launch&nbsp;the&nbsp;public&nbsp;offering&nbsp;of&nbsp;<strong>Springview Holdings Ltd</strong>&nbsp;(Nasdaq: SPHL). We plan to raise 1,250,000 Class A Shares for Springview which designs and constructs residential and commercial buildings in Singapore. For the full information of the announcement, <span style="color: #ff0000;"><strong>please refer to the attached Announcement PDF file</strong></span>.</div>
<div>&nbsp;</div>
<table>
<tbody>
<tr>
<td>
<div>Issuer:</div>
</td>
<td>
<div>Springview Holdings Ltd (NASDAQ: SPHL)</div>
</td>
</tr>
<tr>
<td>
<div>Execution:</div>
</td>
<td>
<div>Initial public offering</div>
</td>
</tr>
<tr>
<td>
<div>Size:</div>
</td>
<td>
<div>1,250,000 shares</div>
</td>
</tr>
<tr>
<td>
<div>Over-allotment option:</div>
</td>
<td>
<div>15%</div>
</td>
</tr>
<tr>
<td>
<div>Securities offered:</div>
</td>
<td>
<div>Class A common stock</div>
</td>
</tr>
<tr>
<td>
<div>Use of proceeds:</div>
</td>
<td>
<div>Working capital and general corporate purposes</div>
</td>
</tr>
<tr>
<td>
<div>Offering price:</div>
</td>
<td>
<div>$4.00</div>
</td>
</tr>
<tr>
<td>
<div>Expected pricing:</div>
</td>
<td>
<div>Week of 09/30/2024</div>
</td>
</tr>
<tr>
<td>
<div>Expected trading:</div>
</td>
<td>
<div>Week of 10/01/2024-10/12/2024</div>
</td>
</tr>
</tbody>
</table>
<div>&nbsp;</div>
<div><strong>Please indicate: # of Ordinary Shares</strong></div>
<div><strong>We are scheduled to close the book on Tuesday, Sep 17th at 4pm ET.</strong></div>
<div><strong>We have scheduled Roadshow on Zoom with management on 9/12 Thursday,</strong>&nbsp;10:00 AM Eastern Time,&nbsp;<strong>&nbsp;</strong>and&nbsp;<strong>9/13 Friday at&nbsp;</strong>10:00 PM Eastern Time<strong>.</strong></div>
<div>&nbsp;</div>
<div>Please refer to the following information for the scheduled meetings.</div>
<div>--------------------------------------------------------------------------------------------------</div>
<div><strong>9/12/2024 10am ET, Duration: 1hour</strong></div>
<div>Topic: SPHL Roadshow</div>
<div>Time: Sep 12, 2024 10:00 AM Eastern Time (US and Canada)</div>
<div>Join Zoom Meeting:&nbsp;<a title="https://us06web.zoom.us/j/87519023267?pwd=kKamIi04bLGP1gLLqGSEqBg80r6vsb.1" href="https://us06web.zoom.us/j/87519023267?pwd=kKamIi04bLGP1gLLqGSEqBg80r6vsb.1" data-linkindex="0" data-auth="NotApplicable">https://us06web.zoom.us/j/87519023267?pwd=kKamIi04bLGP1gLLqGSEqBg80r6vsb.1</a></div>
<div>Meeting ID: 875 1902 3267</div>
<div>Passcode: 532382</div>
<div><strong>9/13/2024 10am ET, Duration: 1hour</strong></div>
<div>Topic: SPHL Roadshow</div>
<div>Time: Sep 13, 2024 10:00 AM Eastern Time (US and Canada)</div>
<div>Join Zoom Meeting:&nbsp;<a title="https://us06web.zoom.us/j/82750781956?pwd=7IS2zuc2ecgIyO0tUy9Oc8ffEoDUj6.1" href="https://us06web.zoom.us/j/82750781956?pwd=7IS2zuc2ecgIyO0tUy9Oc8ffEoDUj6.1" data-linkindex="1" data-auth="NotApplicable">https://us06web.zoom.us/j/82750781956?pwd=7IS2zuc2ecgIyO0tUy9Oc8ffEoDUj6.1</a></div>
<div>Meeting ID: 827 5078 1956</div>
<div>Passcode: 921734</div>
<div>-----------------------------------------------------------------------------------------------------------</div>
<div>&nbsp;</div>
<div>F-1/A (registration statement):</div>
<div><u><a href="https://www.sec.gov/Archives/edgar/data/2002236/000121390024066076/ea0201033-05.htm" data-linkindex="2" data-auth="NotApplicable">https://www.sec.gov/Archives/edgar/data/2002236/000121390024066076/ea0201033-05.htm</a></u></div>
<div>FWP (prospectus):</div>
<div><u><a href="https://www.sec.gov/Archives/edgar/data/2002236/000121390024073217/ea0212675-fwp_springview.htm" data-linkindex="3" data-auth="NotApplicable">https://www.sec.gov/Archives/edgar/data/2002236/000121390024073217/ea0212675-fwp_springview.htm</a></u></div>
<div>&nbsp;</div>
<div>Sincerely thanks,</div>
<div>&nbsp;</div>
<div>ACSS Team</div>
<div id="x_:mx" class="x_ii x_gt">
<div id="x_:mw" class="x_a3s x_aiL x_msg8042271865442434460">
<div class="x_adM">
<div dir="ltr">
<div class="x_adM">&nbsp;</div>
</div>
</div>
</div>
</div>