<div>
<p><span data-olk-copy-source="MailCompose">Dear Valued Customer,</span></p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>We are happy to inform you that the account application is finished, and your account is ready to go. To ensure a smooth transition&nbsp;and&nbsp;to maintain access to your&nbsp;account&nbsp;without interruption, please follow the steps below to open your new&nbsp;account&nbsp;with Curvature Securities:</p>
</div>
<ol start="1" data-editing-info="{&quot;orderedStyleType&quot;:1,&quot;unorderedStyleType&quot;:1}" data-listchain="__List_Chain_226">
<li>
<div>Visit the following link:&nbsp;<a id="OWA5e206906-06f0-e5ea-38fa-c5c29c166342" class="x_x_x_x_x_x_x_x_x_x_x_x_x_x_x_x_x_OWAAutoLink" href="https://acsunshine.curvaturesecurities.com/login" data-auth="NotApplicable" data-linkindex="0">https://acsunshine.curvaturesecurities.com/login</a></div>
</li>
<li>
<div>Enter the email address&nbsp;<strong>$$Email Address$$</strong>&nbsp;associated with your Curvature&nbsp;account number&nbsp;<strong>$$Account Number$$</strong>.</div>
</li>
<li>Select the &ldquo;FORGOT PASSWORD&rdquo; option.</li>
<li>
<div>Follow the instructions to reset your password, then log back in.</div>
</li>
</ol>
<div>After logging in:</div>
<div><strong>Case 1:</strong>&nbsp;if you are using domestic bank accounts and want to make ACH transfers, you need to:</div>
<ol start="1" data-editing-info="{&quot;orderedStyleType&quot;:1,&quot;unorderedStyleType&quot;:1}" data-listchain="__List_Chain_227">
<li>
<div>Connect your bank&nbsp;account&nbsp;to your Curvature&nbsp;account:</div>
</li>
<ol start="1">
<li>
<div>In your dashboard, click Banking -&gt; Bank&nbsp;Account&nbsp;-&gt; Add Bank&nbsp;Account&nbsp;(on the top righ</div>
</li>
<li>
<div>Select ACH as your Allowed Request Method&nbsp;and&nbsp;Plaid as your Approved Method</div>
</li>
<li>
<div>Verify your mobile number&nbsp;and&nbsp;select either instant or manual as how you will link your bank&nbsp;accoun</div>
</li>
</ol>
<li>
<div>After you successfully linked your bank account, go to ACH/Wire Request (on the left sidebar of your page) -&gt; Add ACH (on the upright corner) to make deposit</div>
</li>
</ol>
<div><span style="color: #ff0000;"><strong>Please be notified that ACH transfers require at least 3 business days to be processed, and it has a limitation of $50,000 on daily transfer. Therefore, if your transaction is urgent or in large amounts, please use wire transfer (Case 2) instead!</strong></span></div>
<div><strong>&nbsp;</strong></div>
<div>
<p><strong>Case 2:</strong>&nbsp;if you are an international customer and want to make a deposit, you need to use wire transfer. Please refer to the attached wire instruction for more information.</p>
<ul data-editing-info="{&quot;applyListStyleFromLevel&quot;:false,&quot;unorderedStyleType&quot;:2}">
<li>
<p>One thing you need to carefully notice is that, to successfully complete the wire transfer, you must include "For Further Credit" (FFC) account number in your transaction, when you submit it to the bank. It is mentioned and explained at the bottom of the wire instruction.&nbsp;<strong>This is very important to include FFC when you are writing for a transfer! <span style="color: #ff0000;">If you do not include FFC in your transfer, Velox will not know which account this transfer is for,&nbsp;</span></strong><span style="color: #ff0000;"><strong>and your transfer will fail</strong><strong>.</strong></span></p>
</li>
</ul>
<p>Please note that, even for case 2 (Wire transfer), it will take at least 1 business&nbsp;days for the money to be deposited. Your funds cannot arrive immediately,&nbsp;<strong>and there will be NO notification once the funds arrive</strong>.&nbsp;</p>
<div>&nbsp;</div>
<div>Especially:</div>
<ol start="1" data-editing-info="{&quot;applyListStyleFromLevel&quot;:false,&quot;orderedStyleType&quot;:1}">
<li>
<div>For ACH transfers, the maximum amount&nbsp;<strong>per day per customer</strong>&nbsp;is $50,000</div>
</li>
<li>
<div>For wire transfers, there is no maximum amount cap, but you will be charged a fixed wire fee.</div>
</li>
</ol>
<p>We understand that changes like these can be significant,&nbsp;and&nbsp;we are here to support you every step of the way. If you have any questions, please let us know.</p>
<p>&nbsp;</p>
<p>Also, please refer the fee schedule&nbsp;and&nbsp;risk&nbsp;disclosure&nbsp;documents in the attachment.</p>
</div>