<div>
<p><span data-olk-copy-source="MailCompose">Dear Valued Customer,</span></p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>We are happy to inform you that the account application is finished, and your account is ready to go. To ensure a smooth transition&nbsp;and&nbsp;to maintain access to your&nbsp;account&nbsp;without interruption, please follow the steps below to open your new&nbsp;account&nbsp;with Curvature Securities:</p>
</div>
<ol start="1" data-listchain="__List_Chain_226" data-editing-info="{&quot;orderedStyleType&quot;:1,&quot;unorderedStyleType&quot;:1}">
<li>
<div>Visit the following link:&nbsp;<a id="LPlnkOWAd1318444-1b94-a586-00fd-f3e991ea96ed" class="OWAAutoLink" href="https://www.velox-clearing.com/portal/logout" data-auth="NotApplicable">Velox Clearing (velox-clearing.com)</a></div>
</li>
<li>
<div>Enter your Velox account number&nbsp;<strong>$$Account Number$$</strong>&nbsp;and the default password to login. The default password is Acs$+(the last four digits of your account). For example, if your account number is XXXX1234, then your password is Acs$1234. If have any issues with logging in or receiving the verification code, please contact us.&nbsp;<strong>Remember to change your password once logged in!</strong></div>
</li>
</ol>
<div>After logging in:</div>
<div><strong>Case 1:</strong>&nbsp;if you are using domestic bank accounts and want to make ACH transfers, you need to:</div>
<ol start="1" data-listchain="__List_Chain_227" data-editing-info="{&quot;orderedStyleType&quot;:1,&quot;unorderedStyleType&quot;:1}">
<li>
<div>Connect your bank&nbsp;account&nbsp;to your account:</div>
</li>
<ol start="1">
<li>
<div>In your dashboard, click (on the left sidebar): Cash Movement -&gt; Link Bank Account. You will be asked to input your&nbsp;<strong>bank name</strong>&nbsp;and&nbsp;<strong>bank account number (NOT your Velox account number!)</strong>.&nbsp;</div>
</li>
<li>
<div>Three micro deposits will be made to your&nbsp;<strong>bank account</strong>&nbsp;in the next 1-2 days.&nbsp;<strong>There will be no notification when the micro deposits arrive, so you need to check your bank account regularly.</strong></div>
</li>
<li>
<div>Go back to the same page at Cash Movement -&gt; Link Bank Account, input the 3 numbers according the 3 micro deposits you received.</div>
</li>
</ol>
<li>
<div>After you successfully linked your bank account, go to Cash Movement -&gt; Make deposit -&gt; ACH (on the top of the page).&nbsp;Select the&nbsp;<strong>bank account you want to transfer from</strong>,&nbsp;the&nbsp;<strong>Velox account you want to transfer to</strong>, and the amount of your deposit. Click "submit"</div>
</li>
</ol>
<div><span style="color: #ff0000;"><strong>Please be notified that ACH transfers require at least 3 business days to be processed, and it has a limitation of $50,000 on daily transfer. Therefore, if your transaction is urgent or in large amounts, please use wire transfer (Case 2) instead!</strong></span></div>
<div>&nbsp;</div>
<div>
<p><strong>Case 2:</strong>&nbsp;if you are an international customer and want to make a deposit, or if your transaction does not qualify for ACH as mentioned above, you need to use wire transfer, please refer to the attached wire instruction for your information.</p>
<ul data-editing-info="{&quot;applyListStyleFromLevel&quot;:false,&quot;unorderedStyleType&quot;:2}">
<li>
<p>One thing you need to carefully notice is that, to successfully complete the wire transfer, you must include "For Further Credit" (FFC) account number in your transaction, when you submit it to the bank. It is mentioned and explained at the bottom of the wire instruction.&nbsp;<strong>This is very important to include FFC when you are writing for a transfer! <span style="color: #ff0000;">If you do not include FFC in your transfer, Velox will not know which account this transfer is for,&nbsp;</span></strong><span style="color: #ff0000;"><strong>and your transfer will fail</strong><strong>.</strong></span></p>
</li>
</ul>
<p>&nbsp;</p>
<div>Please note that, even for case 2 (Wire transfer), it will take at least 1 business&nbsp;days for the money to be deposited. Your funds cannot arrive immediately,&nbsp;<strong>and there will be NO notification once the funds arrive</strong>.&nbsp;</div>
<div>&nbsp;</div>
<div>Especially:</div>
<ol start="1" data-editing-info="{&quot;applyListStyleFromLevel&quot;:false,&quot;orderedStyleType&quot;:1}">
<li>
<div>For ACH transfers, the maximum amount&nbsp;<strong>per day per customer</strong>&nbsp;is $50,000</div>
</li>
<li>
<div>For wire transfers, there is no maximum amount cap, but you will be charged a fixed wire fee.</div>
</li>
</ol>
<p>We understand that changes like these can be significant,&nbsp;and&nbsp;we are here to support you every step of the way. If you have any questions, please let us know.</p>
<p>&nbsp;</p>
<p>Also, please refer the fee schedule&nbsp;and&nbsp;risk&nbsp;disclosure&nbsp;documents in the attachment.</p>
</div>