<div data-olk-copy-source="MailCompose">Dear customer,</div>
<div>&nbsp;</div>
<div>Below is the instruction of all related DRS documents that you need to provide to finish a DRS transfer.</div>
<div>&nbsp;</div>
<div>If you would like to proceed with&nbsp;DRS&nbsp;transfers, there are some documents that you need to fill out:</div>
<ul data-editing-info="{&quot;orderedStyleType&quot;:1,&quot;unorderedStyleType&quot;:2}">
<li>DRS&nbsp;Transfer Form (Attached)</li>
<li>
<div>Due Diligence Checklist (Attached)</div>
</li>
<li>
<div>Sale Order Checklist (Attached). Please only answer questions Q1-Q16 in the first section.</div>
</li>
</ul>
<div><span style="color: #ff0000;">For any of the 3 documents above, DO NOT sign any of them, and DO NOT convert Word Docs to PDFs.</span></div>
<div>&nbsp;</div>
<div>Also there are documents that you need to provide:</div>
<ul data-editing-info="{&quot;orderedStyleType&quot;:1,&quot;unorderedStyleType&quot;:2}">
<li>
<div>Rule 144 Opinion Letter (ask your lawyer as this is a legal opinion)&nbsp;<strong>this is required if your stock is registered, but if your DRS transferred stock is not registered, you can ignore this.</strong></div>
</li>
<li>
<div>Purchase agreement with the issuer/listed company</div>
</li>
<li>
<div>Prospectus of the issuer</div>
</li>
<li>
<div>Proof of payment of purchase, if applicable</div>
</li>
<li>
<div>Book entry account statement (an example is attached)</div>
</li>
</ul>
<div>&nbsp;</div>
<div><span style="color: #ff0000;">Please note that Curvature and AC Sunshine MAY require more documentations once&nbsp;DRS&nbsp;transfer submitted. In case of this we will notify you.&nbsp;<strong>Before all required documents are submitted to us, your DRS transfer will NOT BE processed.</strong>&nbsp;Please understand that this amount of work is necessary as DRS transfer requires diligent examination.</span></div>