<div dir="ltr"><div class="adM">
</div><div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)"><div class="adM">
</div><b>Dear All,</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
We are participate in Cathay Securities the Initial Public Offering of PTHL. If you are interested, please reply this email and let us know your open interest(how many shares you want to buy)</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<table style="text-align:left;color:rgb(36,36,36);border-collapse:collapse;border-spacing:0px;box-sizing:border-box">
<tbody>
<tr>
<td style="text-align:left;padding:0in;width:0.3pt"></td>
</tr>
<tr>
<td style="text-align:left;padding:0in"></td>
</tr>
</tbody>
</table>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Pheton Holdings Ltd ( NASDAQ: PTHL ).</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Selling Concession:&nbsp;4.0%</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>The Company has filed the latest amendment, and please see the below link.</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Please see the following link for the latest prospectus of PTHL</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:blue">
<a href="https://www.sec.gov/ix?doc=/Archives/edgar/data/1970544/000121390024053646/ea0202636-03.htm" id="m_1811178747544663947OWA2e9d74cd-bbef-5eb6-a04c-dc530eafdffa" title="https://www.sec.gov/ix?doc=/Archives/edgar/data/1970544/000121390024053646/ea0202636-03.htm" style="color:blue;margin:0px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.sec.gov/ix?doc%3D/Archives/edgar/data/1970544/000121390024053646/ea0202636-03.htm&amp;source=gmail&amp;ust=1719427049815000&amp;usg=AOvVaw3PA1U1db1vpghM5M9dl0hE">https://www.sec.gov/ix?doc=/<wbr>Archives/edgar/data/1970544/<wbr>000121390024053646/ea0202636-<wbr>03.htm</a></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<table style="text-align:left;color:rgb(36,36,36);border-collapse:collapse;border-spacing:0px;box-sizing:border-box">
<tbody>
<tr>
<td colspan="2" style="text-align:left;background-color:rgb(123, 204, 255);padding:0in 5.4pt;width:178.2pt;height:49.9pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Deal Announcement</b></div>
</td>
<td style="text-align:left;background-color:rgb(123, 204, 255);padding:0in 5.4pt;width:94.6pt;height:49.9pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>&nbsp;</b></div>
</td>
<td colspan="5" style="text-align:left;background-color:rgb(123, 204, 255);padding:0in 5.4pt;width:206.4pt;height:49.9pt">
<div align="right" style="margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Pheton Holdings Ltd</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:162.95pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:94.6pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:23.9pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:53.05pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:42.4pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:22.7pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:64.35pt;height:14.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td colspan="6" style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:392.15pt;height:20.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Cathay Securities, Inc. is acting as the Sole Bookrunner</b></div>
</td>
<td colspan="2" style="text-align:left;padding:0in;width:87.05pt;height:20.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:162.95pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:94.6pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:23.9pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:53.05pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:42.4pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:22.7pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:64.35pt;height:18.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td colspan="2" style="text-align:left;background-color:white;padding:0in 5.4pt;width:178.2pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Summary of Terms</b></div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;width:94.6pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:23.9pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:53.05pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:42.4pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:22.7pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:64.35pt;height:0.25in">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:94.6pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:23.9pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:53.05pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:42.4pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:22.7pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:64.35pt;height:14.65pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Issuer</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Pheton Holdings Ltd</div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Offering Size</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>$10,000,000 *</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28pt">
<div align="center" style="margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Securities Offered</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>2,500,000&nbsp;</b>Ordinary Shares</div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Offering Price</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>US$4.00 and US$5.00 per ordinary share</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Ticker symbol</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Nasdaq Capital Market under the symbol&nbsp;<b>“PTHL”</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:33.1pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:33.1pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Anticipated Pricing</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:33.1pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>JULY 2024</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Anticipated Trading</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>JULY 2024</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Selling Concession</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>4%</b></div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:28.5pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Underwriter</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:28.5pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Cathay Securities, Inc.</div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:258.75pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:258.75pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Use of proceeds</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:258.75pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
We estimate that we will receive net proceeds from this offering of approximately $7,750,000, or approximately $9,130,000 if the underwriters exercise their option to purchase additional shares, after deducting underwriting discounts and commissions and the
 estimated offering expenses payable by us. These estimates are based upon an assumed initial public offering price of $4.00 per Class A ordinary share, which is the low end of the price range shown on the front page of this prospectus. A $1.00 increase (decrease)
 in the assumed initial public offering price of $4.00 per ordinary share would increase (decrease) the net proceeds to us from this offering by $2,300,000, assuming the number of Class A ordinary shares offered by us, as set forth on the front cover of this
 prospectus, remains the same and after deducting the estimated underwriting discounts and commissions and estimated expenses payable by us.</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
The primary purposes of this offering are to create a public market for our shares for the benefit of all shareholders and obtain additional capital. We plan to use the net proceeds of this offering as follows:</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;approximately 30% for research and development, technology upgrade;</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;approximately 30% for market expansion;</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;approximately 20% for improvements to our internal control and operation system; and</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;approximately 20% for supplemental liquidity.</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
In terms of our allocation for approximately 30% of the net proceeds from this offering being applied to research, development, and a technology upgrade, our plan, as of the date of this prospectus, involves integrating FTTPS with robotic arm technology. This
 integration is intended to further enhance the precision of internal radiation therapy and create a more standardized operational solution using our FTTPS product.</div>
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:117.8pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:162.95pt;height:117.8pt">
<div align="center" style="margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>Lock-up</b></div>
</td>
<td colspan="6" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:301pt;height:117.8pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Each of our directors and executive officers, and principal shareholders (5% or more shareholders) of our outstanding shares enter into a lock-up agreement for a period of six (6) months from the date of this offering subject to certain exceptions, with respect
 to our outstanding shares and securities that are substantially similar to our outstanding shares. These restrictions also apply to any ordinary shares acquired by our directors and executive officers in the offering pursuant to the directed share program,
 if any.</div>
</td>
</tr>
<tr>
<td style="text-align:left;border-right:1pt solid;background-color:white;padding:0in 5.4pt;vertical-align:bottom;width:15.25pt;height:41.25pt">
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;margin:0in;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
</td>
<td colspan="7" style="text-align:left;border-right:1pt solid;border-bottom:1pt solid;background-color:white;padding:0in 5.4pt;width:463.95pt;height:41.25pt">
<div style="text-align:left;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;&nbsp;*Initial public offering price is assumed as&nbsp;<b>US$4.00&nbsp;</b>per share, which is the low end of the range set forth on the cover page of the Public Offering Prospectus.</div>
</td>
</tr>
</tbody>
</table>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>&nbsp;</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>About Pheton</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
<b>&nbsp;</b></div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;margin-left:11pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Pheton Holdings Ltd is a holding company incorporated in the Cayman Islands on November 2, 2022. In 2022, we underwent a series of corporate reorganizations in anticipation of our initial public offering, including incorporation of our company as the listing
 vehicle, incorporation of our overseas holding companies, and issuance of shares to shareholders of the PRC operating entity, Beijing Feitian Zhaoye Technology Co., Ltd., or Beijing Feitian. See “CORPORATE HISTORY AND STRUCTURE — Corporate History” for details.
 As a holding company with no material operations of our own, we conduct our operations through Beijing Feitian, the operating entity in China. Beijing Feitian is a wholly-owned subsidiary of Jinruixi, our wholly foreign-owned enterprise under the PRC law.
 As of the date of this prospectus, all of our business is conducted by Beijing Feitian.</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;margin-left:11pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
&nbsp;</div>
<div style="text-align:left;text-indent:0px;margin-top:1em;margin-bottom:1em;margin-left:11pt;font-family:Aptos,Aptos_EmbeddedFont,Aptos_MSFontService,Calibri,Helvetica,sans-serif;font-size:12pt;color:rgb(0,0,0)">
Beijing Feitian is a healthcare solution provider dedicated to the development and commercialization of treatment software used for brachytherapy, a type of radiotherapy used in treating cancer patients by placing radioactive sources inside the patient that
 kill cancer cells and shrink tumors. Beijing Feitian’s proprietary TPS product, FTTPS, is designed to promote the efficiency, accuracy, and safety of brachytherapy. FTTPS is an advanced and user-oriented software for treatment planning of a wide variety of
 malignant tumors, which can determine the target volume, prescription dose, and dose limitation to protect organs at risk (“OARs”) and produce a dose distribution plan for brachytherapy for cancer patients. Beijing Feitian’s operations include the sales of
 Medical Auxiliary Supplies, such as printed 3D molds, seed implant needles, computer workstations, etc., and the sales of FTTPS-related technical advisories or provisions of consulting services. However, as of the date of this prospectus, except for burning
 FTTPS onto CDs, Beijing Feitian does not engage in any other manufacturing activities itself. Instead, we procure other products we sell from third-party suppliers.</div>
</div>